@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,900|Poppins:300,400,900|Ubuntu+Condensed&display=swap");
/* line 1, ../sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 6, ../sass/base/_base.scss */
body {
  font-family: "Poppins", sans-serif;
}

/* line 1, ../sass/modules/_header.scss */
.header {
  display: flex;
  font-family: "Catamaran", sans-serif;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #8f3838;
  padding: 15px;
  height: 25px;
}
/* line 13, ../sass/modules/_header.scss */
.header .logo i {
  font-size: 30px;
}
/* line 17, ../sass/modules/_header.scss */
.header span {
  font-size: 30px;
  font-weight: 20px;
}
/* line 22, ../sass/modules/_header.scss */
.header i {
  font-size: 20px;
  padding: 0 10px;
}

/* line 27, ../sass/modules/_header.scss */
.navbar {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  margin: 0px;
  background-color: #eeadad;
  padding: 10px;
}
/* line 36, ../sass/modules/_header.scss */
.navbar a {
  color: black;
  text-decoration: none;
  height: 30px;
  font-size: 20px;
}

/* line 1, ../sass/modules/_image.scss */
.image1 {
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  display: flex;
  text-align: center;
}
/* line 12, ../sass/modules/_image.scss */
.image1 img {
  position: absolute;
  height: 100%;
  left: -60px;
}
/* line 19, ../sass/modules/_image.scss */
.image1 .learning {
  position: relative;
  z-index: 1;
  padding-left: 30px;
}
/* line 23, ../sass/modules/_image.scss */
.image1 .learning h1 {
  display: flex;
  left: 0px;
  width: 350px;
  padding-top: 20px;
}
/* line 30, ../sass/modules/_image.scss */
.image1 .learning p {
  display: flex;
  width: 350px;
}

/* line 39, ../sass/modules/_image.scss */
.image2 {
  position: relative;
  height: 550px;
  width: 100%;
  background-color: darksalmon;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
/* line 49, ../sass/modules/_image.scss */
.image2 img {
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 5px;
}
/* line 56, ../sass/modules/_image.scss */
.image2 .admission {
  z-index: 1;
  padding-left: 30px;
  width: 40%;
}
/* line 62, ../sass/modules/_image.scss */
.image2 .admission h1 {
  display: flex;
  left: 0px;
  padding-top: 20px;
}
/* line 67, ../sass/modules/_image.scss */
.image2 .admission p {
  display: flex;
}
/* line 74, ../sass/modules/_image.scss */
.image2 #button {
  position: absolute;
  right: 240px;
  bottom: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  letter-spacing: 2px;
  font-style: oblique;
  box-shadow: 0 0 16px;
  background-color: goldenrod;
}

/* line 1, ../sass/modules/_about.scss */
.about {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 20px;
}
/* line 7, ../sass/modules/_about.scss */
.about h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  padding-bottom: 5px;
}
/* line 14, ../sass/modules/_about.scss */
.about p {
  font-family: "Catamaran", sans-serif;
  padding: 0 10px 0 10px;
}

/* line 1, ../sass/modules/_news.scss */
.news {
  text-align: center;
  padding-bottom: 45px;
}
/* line 5, ../sass/modules/_news.scss */
.news h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  padding-bottom: 5px;
}
/* line 11, ../sass/modules/_news.scss */
.news p {
  font-family: "Catamaran", sans-serif;
  padding: 0 10px 0 10px;
}

/* line 16, ../sass/modules/_news.scss */
.img {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 15px 0 15px;
}
/* line 22, ../sass/modules/_news.scss */
.img img {
  width: 25%;
}

/* line 27, ../sass/modules/_news.scss */
.pnews {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 45px;
}
/* line 33, ../sass/modules/_news.scss */
.pnews p {
  text-align: center;
  justify-content: center;
  padding: 10px;
}

/* line 40, ../sass/modules/_news.scss */
.footer p {
  font-style: italic;
  text-align: center;
  padding-top: 20px;
}

/* line 1, ../sass/modules/_location.scss */
.location {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}
/* line 6, ../sass/modules/_location.scss */
.location .map {
  margin-left: 150px;
  width: 400px;
  border: solid gray 0.5px;
}
/* line 11, ../sass/modules/_location.scss */
.location .form {
  padding-right: 150px;
  width: 30%;
}
/* line 16, ../sass/modules/_location.scss */
.location .form .textbox {
  width: 100%;
  height: 50px;
  overflow: hidden;
  font-size: 20px;
  padding: 10px 0;
  margin: 2px 0;
  border-bottom: 1px solid #4caf50;
}
/* line 25, ../sass/modules/_location.scss */
.location .form .textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
/* line 30, ../sass/modules/_location.scss */
.location .form .textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
/* line 40, ../sass/modules/_location.scss */
.location .form .btn {
  width: 100%;
  border: 2px solid #4caf50;
  color: black;
  padding: 5px;
  font-size: 18px;
  margin: 12 px 0;
  text-align: center;
}

@media screen and (max-width: 360px) {
  /* line 3, ../sass/modules/_responsive.scss */
  .image1 img {
    display: none;
  }
  /* line 6, ../sass/modules/_responsive.scss */
  .image1 .learning {
    height: 300px;
  }
  /* line 8, ../sass/modules/_responsive.scss */
  .image1 .learning h1 {
    margin-left: -20px;
    color: white;
  }
  /* line 12, ../sass/modules/_responsive.scss */
  .image1 .learning p {
    color: white;
    font-size: 20px;
  }

  /* line 18, ../sass/modules/_responsive.scss */
  .image2 {
    position: relative;
    flex-direction: column;
  }
  /* line 21, ../sass/modules/_responsive.scss */
  .image2 #button {
    font-size: 20px;
    width: 130px;
    margin-bottom: -20px;
  }
  /* line 26, ../sass/modules/_responsive.scss */
  .image2 .admission {
    position: absolute;
    width: 500px;
  }
  /* line 29, ../sass/modules/_responsive.scss */
  .image2 .admission h1 {
    margin-left: 90px;
  }
  /* line 33, ../sass/modules/_responsive.scss */
  .image2 .admission p {
    height: 300px;
    width: 400px;
    font-size: 20px;
    float: right;
    padding-left: 0px;
  }

  /* line 44, ../sass/modules/_responsive.scss */
  .about p {
    font-size: 20px;
  }

  /* line 50, ../sass/modules/_responsive.scss */
  .news p {
    font-size: 20px;
  }

  /* line 56, ../sass/modules/_responsive.scss */
  .img img {
    width: 200px;
    height: 100px;
  }

  /* line 61, ../sass/modules/_responsive.scss */
  .pnew {
    flex-direction: column;
  }
  /* line 63, ../sass/modules/_responsive.scss */
  .pnew p {
    font-size: 20px;
    text-justify: auto;
    height: 200px;
  }

  /* line 69, ../sass/modules/_responsive.scss */
  .location {
    width: 400px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }
  /* line 75, ../sass/modules/_responsive.scss */
  .location .form {
    margin-top: 30px;
    width: 200px;
    height: 400px;
    right: 200px;
  }
  /* line 80, ../sass/modules/_responsive.scss */
  .location .form .h2 {
    width: 200px;
    margin-left: -200px;
    padding-left: 0px;
  }
  /* line 85, ../sass/modules/_responsive.scss */
  .location .form .textbox {
    width: 300px;
  }
  /* line 88, ../sass/modules/_responsive.scss */
  .location .form .btn {
    width: 200px;
    margin-left: -100px;
    padding-left: 0px;
  }
  /* line 95, ../sass/modules/_responsive.scss */
  .location .map {
    width: 100%;
    height: 300px;
    margin-left: -95px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  /* line 106, ../sass/modules/_responsive.scss */
  .navbar {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 35px;
  }

  /* line 113, ../sass/modules/_responsive.scss */
  .image1 {
    height: 600px;
    padding-bottom: 0px;
  }

  /* line 118, ../sass/modules/_responsive.scss */
  .image2 {
    padding-top: 0px;
  }

  /* line 122, ../sass/modules/_responsive.scss */
  .location {
    flex-direction: column;
  }
  /* line 125, ../sass/modules/_responsive.scss */
  .location .map {
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
    justify-content: center;
    left: 0px;
  }
  /* line 133, ../sass/modules/_responsive.scss */
  .location .form {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
  }
}
