.about{
    // display: flex;
    text-align: center;
    padding-bottom:  45px;
    padding-top: 20px;
    
    h1{ 
        font-family: $primary-font;
        font-size: 40px;
        padding-bottom: 5px;
    }
       

    p{
        font-family: $secondary-font;
        padding: 0 10px 0 10px;
    }
    
}