.header{
    display: flex;
    font-family: $secondary-font;
    // margin-left: 15px;
    padding-left: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(143, 56, 56);
    padding: 15px;
    height: 25px;

    .logo{
        i{
            font-size: 30px;
        }
    }
    span{
        font-size: 30px;
        font-weight: 20px;
    }

    i{
        font-size: 20px;
        padding: 0 10px;
    }
}
.navbar{
    display:flex;
    text-decoration: none;
    // font-family: $primary-font;
    justify-content: space-between;
    margin:0px;
    background-color: rgb(238, 173, 173);
    padding: 10px;
    
    a{
        color: black;
        text-decoration: none;
        height: 30px;
        font-size: 20px;
    }
}