.image1{
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    margin-bottom: 40px;
    display: flex;
    text-align: center;

    img{
        position: absolute;
        height: 100%;
        left: -60px;

    }

    .learning{
        position: relative;
        z-index: 1;
        padding-left: 30px;
        h1{
            display: flex;
            // position: absolute;
            left: 0px;
            width: 350px;
            padding-top: 20px;
        }
        p{
            display: flex;
            width: 350px;
        }

    }

}

.image2{
    position: relative;
    height: 550px;
    width: 100%;
    // background-color: red;
    background-color: darksalmon;
    display: flex;
    align-items: center;
    padding-left: 30px;

    img{
        height: 100%;
        position: absolute;
        right: 0;
        border-radius: 5px;
    }

    .admission{
        // position: relative;
        z-index: 1;
        padding-left: 30px;
        width: 40%;

        h1{
            display: flex;
            left: 0px;
            padding-top: 20px;
        }
        p{
            display: flex;
        }

        
    }
    
    #button{
        position: absolute;
        right: 240px;
        bottom: 30px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 30px;
        letter-spacing: 2px;
        font-style: oblique;
        box-shadow: 0 0 16px;
        background-color: goldenrod;
    }
}