.location{
    display: flex;
    padding:0 20px;
    justify-content: space-between;

    .map{
        margin-left: 150px;
        width: 400px;
        border: solid gray 0.5px;
    }
    .form{
        
        padding-right: 150px;
        width: 30%;
        
        .textbox{
            width:100%;
            height: 50px;
            overflow:hidden;
            font-size:20px;
            padding:10px 0;
            margin: 2px 0;
            border-bottom:1px solid #4caf50;
          }
          .textbox i{
            width:26px;
            float:left;
            text-align:center;
          }
          .textbox input{
            border:none;
            outline:none;
            background:none;
            color:black;
            font-size:18px;
            width:80%;
            float:left;
            margin:0 10px;
          }
          .btn{
            width: 100%;
            border:2px solid #4caf50;
            color: black;
            padding:5px;
            font-size:18px;
            margin: 12 px 0;
            text-align: center;
          }
    }
}

