.news{
    text-align: center;
    padding-bottom:  45px;

    h1{
        font-family: $primary-font;
        font-size: 40px;
        padding-bottom: 5px;
    }

    p{
        font-family: $secondary-font;
        padding: 0 10px 0 10px;
    }
}
.img{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 15px 0 15px;

    img{
        width: 25%;
    }
}

.pnews{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 45px;
    
    p{
        text-align: center;
        justify-content: center;
        padding: 10px;
    }
}
.footer{
    p{
        font-style: italic;
        text-align: center;
        padding-top: 20px;
    }
}