@media screen and (max-width: 360px) {
    .image1{
        img{
            display: none;
        }
        .learning{
            height: 300px;
            h1{
                margin-left: -20px;
                color: white;
            }
            p{
                color: white;
                font-size: 20px;
            }
        }
    }
    .image2{
        position: relative;
        flex-direction: column;
        #button{
            font-size: 20px;
            width: 130px;
            margin-bottom: -20px;
        }
        .admission{
            position: absolute;
            width: 500px;
            h1{
               
                margin-left: 90px;
            }
            p{
                height: 300px;
                width: 400px;
                font-size: 20px;
                float: right;
                padding-left: 0px;
            }
        }
    }

    .about{
        p{
            font-size: 20px;
        }
    }

    .news{
        p{
            font-size: 20px;
        }
    }

    .img{
        img{
            width: 200px;
            height: 100px;;
        }
    }
    .pnew{
        flex-direction: column;
        p{
            font-size: 20px;
            text-justify: auto;
            height: 200px;
        }
    }
    .location{
            width: 400px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            padding-left: 30px;
        .form{
            margin-top: 30px;
            width: 200px;
            height: 400px;
            right: 200px;
            .h2{
                width: 200px;
                margin-left: -200px;
                padding-left: 0px;
            }
            .textbox{
                width: 300px;
            }
            .btn{
                width: 200px;
                margin-left: -100px;
                padding-left: 0px;
            }
        }

            .map
            {
                width: 100%;
                height: 300px;
                margin-left: -95px;
                margin-right: 50px;
            }
    }
}

@media screen and (max-width: 700px) {
    .navbar{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 35px;
    }

    .image1{
        height: 600px;
        padding-bottom: 0px;
        }

        .image2{
            padding-top: 0px;
        }

    .location{
        flex-direction: column;

        .map{
            width: 100%;
            padding-bottom: 40px;
            text-align: center;
            justify-content: center;
            left: 0px;
        }

        .form{
            text-align: center;
            justify-content: center;
            width: 100%;
            padding-top: 30px;
        }
    }
    
    
}